@use '@unocss/reset/tailwind-compat.css';

@font-face {
  font-family: 'Fira Code';
  src: url('https://help.littleeleven.com/FiraCode/FiraCode-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F, U+0100-017F;
}

@font-face {
  font-family: 'Fira Code';
  src: url('https://help.littleeleven.com/FiraCode/FiraCode-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F, U+0100-017F;
}

@font-face {
  font-family: 'Fira Code';
  src: url('https://help.littleeleven.com/FiraCode/FiraCode-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F, U+0100-017F;
}

@font-face {
  font-family: 'Fira Code';
  src: url('https://help.littleeleven.com/FiraCode/FiraCode-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F, U+0100-017F;
}

@font-face {
  font-family: 'Fira Code';
  src: url('https://help.littleeleven.com/FiraCode/FiraCode-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F, U+0100-017F;
}
